<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compare-It - Categories</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
            margin: 0;
            padding: 20px;
        }

        h1 {
            color: #333;
            text-align: center;
            margin-bottom: 20px;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 10px 0;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            padding: 15px;
            transition: background-color 0.3s;
        }

        li:hover {
            background-color: #f0f0f0;
        }

        a {
            text-decoration: none;
            color: #007bff;
            font-weight: bold;
            flex-grow: 1;
        }

        a:hover {
            text-decoration: underline;
        }

        button {
            background-color: #007bff;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-left: 10px;
        }

        button:hover {
            background-color: #0069d9;
        }

        .play-button {
            background-color: #28a745;
        }

        .play-button:hover {
            background-color: #218838;
        }

        .reset-button {
            background-color: #ffc107;
        }

        .reset-button:hover {
            background-color: #e0a800;
        }

        .delete-button {
            background: none;
            border: none;
            color: #dc3545;
            cursor: pointer;
            font-size: 16px;
        }

        .delete-button:hover {
            background-color: #ece5e5;
        }

        .password-input {
            display: none;
            margin-right: 10px;
            width: 50px;
        }
    </style>
</head>
<body>
    <h1>Categories</h1>

    <ul>
        <% tables.forEach(function(table) { %>
            <% if (table.value !== 'sqlite_sequence') { %>
                <li>
                    <a href="/categories/<%= table.value %>"><%= table.value %></a>
                    <div style="display: flex; align-items: center;">
                        <input type="password" name="password" placeholder="Pin" maxlength="4" required class="password-input">
                        <button class="delete-button" onclick="toggleDeleteForm(this)">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                        <button class="reset-button" onclick="toggleResetForm(this)">Reset</button>
                        <button class="play-button" onclick="location.href='/categories/<%= table.value %>'">Play</button>
                    </div>
                </li>
            <% } %>
        <% }); %>
    </ul>

    <button type="button" class="back-next-button" onclick="location.href='/'">Back</button>

    <script>
        function toggleDeleteForm(button) {
            const passwordInput = button.parentElement.querySelector('.password-input');
            if (passwordInput.style.display === 'none' || passwordInput.style.display === '') {
                passwordInput.style.display = 'inline';
                passwordInput.focus();
            } else {
                if (passwordInput.value) {
                    const form = document.createElement('form');
                    form.method = 'POST';
                    form.action = `/delete/${button.parentElement.previousElementSibling.innerText}`;
                    const passwordField = document.createElement('input');
                    passwordField.type = 'hidden';
                    passwordField.name = 'password';
                    passwordField.value = passwordInput.value;
                    form.appendChild(passwordField);
                    document.body.appendChild(form);
                    form.submit();
                } else {
                    passwordInput.style.display = 'none';
                }
            }
        }

        function toggleResetForm(button) {
            const passwordInput = button.parentElement.querySelector('.password-input');
            if (passwordInput.style.display === 'none' || passwordInput.style.display === '') {
                passwordInput.style.display = 'inline';
                passwordInput.focus();
            } else {
                if (passwordInput.value) {
                    const form = document.createElement('form');
                    form.method = 'POST';
                    form.action = `/reset/${button.parentElement.previousElementSibling.innerText}`;
                    const passwordField = document.createElement('input');
                    passwordField.type = 'hidden';
                    passwordField.name = 'password';
                    passwordField.value = passwordInput.value;
                    form.appendChild(passwordField);
                    document.body.appendChild(form);
                    form.submit();
                } else {
                    passwordInput.style.display = 'none';
                }
            }
        }
    </script>
</body>
</html>
